.personal {
    background-image: url('../resources/personal.png');
    background-color: antiquewhite;
    background-size: cover;
    height: 100vw;
}

.newRecipe {
    align-items: center;
    align-content: center;
}