@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.recipeContainer {
    overflow: scroll;
    width: 57.5%;
    height: 65%;
    margin: -5% 0 0 18%;

}

.carousel-item.active {
    background: transparent;
    border-color: transparent;
}

