@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.recipeContainer {
    overflow: auto;
    width: 65%;
    height: 65%;
    margin: 10% 30% 0 15%;
    z-index: 1;
}

.cardContainer {
    font-family: Parisienne;
}

.cardBackground {
    /* background-color: red; */
}