.footer {
    text-align: center;
    height: 150px;
    width: 100vw;
    background-image: linear-gradient( antiquewhite, rgb(239, 237, 233));
    display: flex;
    flex-direction: row;
}

.logo {
    margin: 50px 10px;
}

h4 {
    padding-left: 400px;
    padding-top: 60px;
    padding-right: 20px;
    font-family: Parisienne;
    font-size: 2rem;
  }