.headerLogo {
  margin: -45px -10px 0 40px;
  width: 350px;
}

.header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
}

.headerButton {
  margin: 30px 5px;
  height: 50px;
  background-color: white;
}

@media screen and (max-width: 540px) {
  .headerButton {
    height: 30px;
    margin: 15px 2px;
  }
  .headerLogo {
    width: 250px;
    margin: -45px -10px 0 40px;
  }

}